.category{
  position: relative;
  height: 288.5px;
  width: 100%;
  overflow: hidden;
}
.category h3{
  margin: 24px 0;
}
.hover_scroll{
  position:absolute;
  width: 74px;
  height:100%;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_wraper{
  position:absolute;
  left:0;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 318px;
}
.category_roller{
  position:absolute;
  left:0;
  min-width: 100%;
}
.position{
  position: relative;
  width: 368px;
  height: 318px;
  /* float: left; */
  background-image: url(../img/light_background.png);
  margin-right: 32px;
  margin-left: -1px;
  margin: -1px 32px 0 -1px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.position .top, .position.bottom{
  position: relative;
}
.position .top{
  height: 159px;
}
.position .bottom{
  height: 101px;
}
.position .image{
  height: 100%;
  width: 55%;
  background-size: cover;
  background-position: center;
  float: left;
}
.position .info{
  max-width: 45%;
  padding: 5px;
  float: left;
}
.position .description{
  padding: 5px;
  white-space:normal;
  width: 55%;
  float: left;
}
.position .buy{
  width: 45%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/basic_background.png);
}
.position .buy div{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.position .buy p, .position .buy a{
  margin:3px;
}
.position:last-child{
  margin-right: 0;
}
.position_name{
  bottom:24px;
  left: 24px;
}
.position a{
  background-image: url(../img/light_background.png);
  border: 1px solid #C1C2C2;
  padding: 5px;
  display: block;
}
.position a.active:hover{
  background-image: url(/../img/hover_background.png);
  color:white;
}
.position a.inactive{
  color:grey;
}