.content_profile > div{
  float: left;
}
.content_profile{
  overflow:hidden;
}
.avatar_box{
  width:100px;
  margin-left: 20px;
  padding: 5px;
}
.avatar_img{
  width: 87px;
  height: 87px;
  border-radius: 50%;
  border: 2px solid ;
  background-size: contain;
}
#avatar_2 .avatar_img{
  background-image: url(/../img/plus.png);
}
#avatar_3 .avatar_img, #avatar_4 .avatar_img{
  background-image: url(/../img/plus_grey.png);
}
.info_box, .stat1_box, .stat2_box, .action_box{
  padding: 5px 10px;
}
