#ship{
  padding: 0px;
  min-height: 400px;
}
#ship .content_ship{
  padding: 0px;
}
.content_ship{
  overflow: hidden;
}
.main_ship{
  margin: 15px 0 15px 15px;
}
#ship .content_ship > *{
  float:left;
}
#ship .nav_box{
  position: relative;
}
#ship .nav_box a{
  border-left: 0px;
}

#ship .ship_image{
  width: 324px;
  height: 235px;
  background-size: cover;
  background-position: center;
  border: 1px solid;
}
#ship .info_box, #ship .stat_box{
  margin: 15px 0 0 15px;
}
#ship .info_box meter{
  width:150px;
}
#ship .info_box meter#meter_gen, #ship .info_box meter#meter_aku{
  width:120px;
}
.main_ship{
  width: calc(100% - 175px)
}
.main_ship > *{
  float: left;
  width: auto;
}
/* .content_ship .eq_box{
  margin: 15px 15px 0 15px;
} */
.content_ship .eq_item{
  float: left;
  border: 1px solid;
  height: 62px;
  width: 400px;
  margin: 0 15px 15px 0;
}

.content_ship .eq_item > div{
  float: left;
}
.content_ship .eq_box .eq_img{
  width: 80px;
  height: 60px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.content_ship .eq_box .eq_stats{
  margin-left: 15px;
}
.content_ship .eq_box .eq_stats > div{
  margin-right: 15px;
  float: left;
}
.meter{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: red;
}
.meter_value{
  height: 3px;
  background-color: green;
}




div.cargo_item .position{
  display: none;
  border: 1px solid #C1C2C2;
  height: 333px;
}
div.position  .image{
  width: 55%;
  width: 200px;
  height: 159px;
  background-size: cover;
  background-position: center;
}
div.position  .info{
  padding:5px;
}
div.cargo{
  height: 352px;
  width: 100%;
}
table.cargo{
  margin: 0 15px 15px 0;
  margin-top: -2px;
  margin-left: -2px;
  float: left;
}
div.cargo_item{
  float:left;
  height: 333px;
}
table.cargo th{
  background-image: url(/../img/light_background.png);
  border: 1px solid #C1C2C2;
  text-align: left;
  padding: 5px 0px 5px 5px;
}
table.cargo td{
  position: relative;
  width:100px;
  height:100px;
  margin: 0 5px 5px 0;
  border: 1px solid #C1C2C2;
  background-size: cover;
  background-position: center;
}
.td_item .item_count{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 20px;
  border-left: 1px solid #C1C2C2;
  border-top: 1px solid #C1C2C2;
  background-color: rgba(36, 36, 50, 0.7);
}