main{
  position: absolute;
  left:159px;
  width: calc(100% - 318px);
  min-height:650px;
  border: 1px solid;
  border-top:0px;
  padding: 15px 15px 0px 0px;
}

main div.panel{
  margin: 0px 15px 15px 15px;
  border: 1px solid;
  min-height: 100px;
  width: calc(100% - 15px);
  padding-bottom: 15px;
}
div.panel.col1{
  margin: 0 0 15px 15px;
  width: calc(50% - 15px);
}
.column{
  width: 50%;
  float:left;
}
.content > p, .content > form, .content > a{
  padding: 5px 0px 5px 5px;
  display: block;
}
.content{
  padding: 0 15px 0 0;
}
main div.panel > p.bar{
  border-bottom: 1px solid;
  background-image: url(/../img/hover_background.png);
  padding: 5px 15px 5px 5px;
}

header > div{
  height: 100px;
  padding: 5px;
  float:left;    
}
#avatar_box{
  width:100px;
  margin-left: 15px;
}
#avatar_img{
  width: 87px;
  height: 87px;
  border-radius: 50%;
  border: 2px solid;
  background-size: cover;
}

#action_box{
  margin-left: 15px;
}
#action_gif{
  width: 127px;
  height: 87px;
  border: 1px solid;
  background-image: url(/../img/traveling_spaceship.gif);
  background-size: cover;
  background-position: center;
  float:left;
  margin-right: 10px;
}
#player_box{
  position: absolute;
  right:15px;
}

.nav_box{
  position: absolute;
  width:160px;
}
.nav_box a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 0px;
  border-left: 1px solid ;
  border-right: 1px solid ;
  border-bottom: 1px solid ;
  background-image: url(/../img/light_background.png);
}
.nav_box a:hover{
  background-image: url(/../img/hover_background.png);
}
#nav_right{
  right:0;
}
